.suggestions {
    list-style: none;
    border: 2px solid #ECECEC;
}

li {
    padding: 5px;
}

li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

li .username, li .close {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 5px;
}

li .close {
    color: #cccccc;
    cursor: pointer;
}