<div class="container">
    <div class="header">
        <h2>who to follow</h2><a class="refresh">refresh</a>
    </div>
    <ul class="suggestions">
        <li class="suggestion1">
            <img />
            <a target="_blank" class="username"></a>
            <a class="close close1">x</a>
        </li>
        <li class="suggestion2">
            <img />
            <a target="_blank" class="username"></a>
            <a class="close close2">x</a>
        </li>
        <li class="suggestion3">
            <img />
            <a target="_blank" class="username"></a>
            <a class="close close3">x</a>
        </li>
    </ul>
</div>